body {
  font-family: "Montserrat", sans-serif;
}

.heading {
  margin: 64px 0 96px;
}

.heading__copy {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 16px;
}

@media screen and (min-width: 769px) {
  .wrapper {
    display: grid;
    grid-column-gap: 64px;
    grid-template-columns: repeat(2, 1fr);
  }
}

p {
  line-height: 166%;
  margin-bottom: 32px;
  margin-top: 0;
}

a {
  color: #cf8ba9;
  font-weight: 500;
}

.wrapper__image-placeholder {
  background-color: #b15e6c;
  height: 500px;
  width: 100%;
}
